Source: fluid-settings
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    cppthread-dev (>= 1.0.0.0~bionic),
    communicatord-dev (>= 2.0.0.0~bionic),
    debhelper,
    dh-sysuser,
    doxygen,
    eventdispatcher-dev (>= 1.1.51.0~bionic),
    eventdispatcher-qt-dev (>= 1.1.51.0~bionic),
    graphviz,
    libaddr-dev (>= 1.0.17.0~bionic),
    libadvgetopt-dev (>= 2.0.1.0~bionic),
    libboost-dev,
    libexcept-dev (>= 1.1.4.0~bionic),
    libssl-dev (>= 1.0.1),
    libutf8-dev (>= 1.0.6.0~bionic),
    qtbase5-dev,
    serverplugins-dev (>= 2.0.0.0~bionic),
    snapcatch2 (>= 2.9.1.0~bionic),
    snapcmakemodules (>= 1.0.49.0~bionic),
    snapdev (>= 1.1.3.0~bionic),
    snaplogger-dev (>= 1.0.0.0~bionic)
Standards-Version: 3.9.4
Section: libs
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/eventdispatcher

Package: fluid-settings-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for the Fluid Settings service.
 The fluid-settings service is used to configure services (other than the
 fluid-settings service itself) in one place over an entire network of
 computers.

Package: fluid-settings-dev
Section: libdevel
Architecture: any
Suggests: fluid-settings-doc, fluid-settings-server
Depends: fluid-settings (= ${binary:Version}), ${misc:Depends}
Description: Development package for the fluid-settings service.
 The developers are given access to the fluid-settings library which is
 used to painlessly access the fluid-settings service.

Package: fluid-settings
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The fluid-settings library.
 This library provides all sorts of functionality to the fluid-settings
 service and developer systems.

Package: fluid-settings-server
Section: utils
Architecture: any
Suggests: fluid-settings-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The actual fluid-settings service.
 This package installs the fluid-settings service which gives other services
 a way to access configuration parameters in one place over the network
 instead of having to configure each instance of these other services.

Package: fluid-settings-gui
Section: utils
Architecture: any
Suggests: fluid-settings-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The fluid-settings GUI client.
 This package installs the fluid-settings Graphical User Interface client.
 It gives the user access to the fluid setting using a simple window with
 lists of services, their settings, and the value of each setting.

# vim: ts=4 sw=4 et
